.card {
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
  
img {
    width: 100%;
    border-radius: 25px;
  }
  
h1 {
    font-family: sans-serif;
    color: black;
    text-align: center;
    /* margin: 0; */
  }
a{
    text-align: center;
    text-decoration: none;
    background-color: #a9cc44;
    color: #fff;
    border-radius: 30px;
    padding: 9px 15px;
    margin: 0 auto;
    display: block;
    height: 20px;
    width: 110px;
}
a:hover{
    background-color: #cfdca8;
    color: black;
    transition:0.5s ease 0.1s;
}
.caption{
  line-height: 0;
  text-align: center;
}
/* .center{
    display: block;
    background-color: rgba(169,204,68,.9);
    border-radius: 10px;
    border: none;
    text-align: center;
    margin: 0 auto;
   
} */
#pets{
    display: flex;
    justify-content:space-evenly;
    
}
@media(max-width:375px){
    #pets{
        flex-wrap: wrap;
    }
}